*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins" sans-serif;
}
.Rohila{
    width: 1200px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--primary-colour, #3A0CA3);
    margin-top: 100px;
}
.Rohila img{
    width: 358px;
    height: 303px;
    margin-top: -43px;

} 

.baner{
    margin-left: 50px;
    display: flex;
    font-size: 39.8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    color: white;
}
.baner h2{
    margin-top: 80px;
}
.Rohila h3{
    font-size: 16px;
    margin-top: -100px;
    margin-left: 410px;
    width: 324px;
    line-height: 26px;
    color: #FFFFFF;
}
.container{
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 30px;
}
